aiobotocore==1.1.2
aiofiles==0.6.0
aiohttp==3.7.2
aiohttp-remotes==1.0.0
aioitertools==0.7.1
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
boto3==1.16.13
botocore==1.17.44
chardet==3.0.4
configparser==5.0.1
docutils==0.15.2
ducts==0.0.21
hiredis==1.1.0
idna==2.10
ifconf==0.0.15
jmespath==0.10.0
lockfile==0.12.2
msgpack==1.0.0
multidict==5.0.0
psutil==5.7.3
pymongo==3.11.0
python-daemon==2.2.4
python-dateutil==2.8.1
redis==3.5.3
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.11
Wave==0.0.2
wrapt==1.12.1
yarl==1.6.2
