<style>
#nanotask {
    width: 100%;
    height: 80%;
    padding-top: 50px;
}
#nanotask-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
</style>

<script src="./js/vue.js"></script>
<script src="./js/vuex.js"></script>
<script src="./js/axios.min.js"></script>

<!--<div id="nanotask-content"></div>
<div id="footer">
    <input type="hidden" id="projectName" value="testproject" />
    <input type="hidden" id="templateName" value="testtemplate" />
    {{ ans }}
</div>-->

<div id="app">
    <nanotask-comp @answer-updated="updateAnswer" @submitted="submitAnswer"></nanotask-comp>
    {{ answer }}
<script>

Vue.component("nanotask-comp", {
    template: `<div>
    <input type="text" v-model="answer.text1" /><input type="text" v-model="answer.text2" /><button @click="submit">button</button></div>,
    data: function(){
        return { answer: {} }
    },
    watch: {
        answer: function(val){
            //console.log(val)
            this.$emit("answer-updated", this.answer)
        }
    },
    methods: {
        //update: function(){ this.$emit("answer-updated", this.answer) },
        submit: function(){ this.$emit("submitted", this.answer) }
    }
});

new Vue({
    el: "#app",
    data: {
        answer: {}
    },
    methods: {
        updateAnswer: function(answer){
            this.answer = answer;
        },
        submitAnswer: function(answer){
            this.answer = answer;
            alert("submitting answer");
            console.log(this.answer);
        }
    }
});
//Vue.component("footer-view", {
//    template: "<p>{{ message }}</p>"
//});
//new Vue({
//    el: "#app"
//});

/*Vue.component("nanotask-template", {
    data: function{
        return {
            hoge: "hoge",
            tmpl: Vue.compile("[[ hoge ]]")
        }
    },
    render: this.tmpl.render,
    staticRenderFns: this.tmpl.staticRenderFns
});*/
/*
var nano = new Vue({
    el: "#nanotask-content",
    data: {
        projectName: document.getElementById("projectName").value,
        templateName: document.getElementById("templateName").value,
        hogemi: "hogemihogemi",
        template: Vue.compile("{{ hogemi }}"),
    },
    render(createElement) {
        let hogemi = this.hogemi;
        let base = {
            data(){
                return{ hogemi }
            }
        }
        let component = Object.assign({}, this.template, base)
        return createElement(component);
    },
    mounted() {
        this.loadNanotaskTemplate()
    },
    methods: {
        loadNanotaskTemplate(){
            axios.get(`/nanotask/${this.projectName}/${this.templateName}`)
            .then(response => (this.template = Vue.compile(response.data)))
        }
    },
});
var vm = new Vue({
    el: "#footer",
    data: {
        ans: nano.data.hogemi
    }
})
*/
</script>
